<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Coding App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="static/script.js"></script>
</head>
<body>
    <h1>Choose Code Block</h1>
    <ul>
        <li><a href="/code/PrintExample">Print Example</a></li>
        <li><a href="/code/AdditionExample">Addition Example</a></li>
        <li><a href="/code/SubtractionExample">Subtraction Example</a></li>
        <li><a href="/code/MultiplicationExample">Multiplication Example</a></li>
    </ul>
</body>
</html>